results/
data/
__pycache__/
wandb/
logs/
lightning_logs/
image_generation/
mind_vis.egg-info/
pretrains/
data/
workbench/
Notebooks/
Glasser_et_al_2016_HCP_MMP1.0_kN_RVVG/
*.out
*.npz
*.ckpt
*.DS_Store
*.zip
*.tar
*.nii
*.gz
*.pth
*.log
*.rpm
*.gii
*.annot
*.jpg
.cache/*
.local/*
sandbox/*
*.sif
*.env
.vscode/